{
    "ba": [
        "com.minhui.networkcapture.pro",
        "com.minhui.networkcapture",
        "com.guoshi.httpcanary",
        "com.minhui.networkcapture.pro",
        "app.greyshirts.sslcapture",
        "com.evbadroid.proxymon",
        "com.eakteam.networkmanager",
        "com.dans.apps.webd"
    ],
    "defaultplay": "https://gitlab.com/aosconfig/channel-data/raw/master/aos_default_play.mp4",
    "lv": "400001",
    "lvu": "https://raw.githubusercontent.com/a2s2p/s-libs/main/400001",
    "nl": [
        {
            "name": "libpk-lib.so",
            "url": "https://raw.githubusercontent.com/nillshetara/binary/main/y-tv/$abi/libpk-lib.so"
        }
    ]
}
